@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, STHeiTi,
    sans-serif;
  @apply text-[1em] !leading-[1];
}

input {
  outline: none !important;
}
